body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
  text-align: center;
  border: 1px solid rgb(41, 41, 41);
  border-radius: 10px;
  width: 60%;
  margin: 15px auto auto auto;
  box-shadow: 0 1px 7px rgb(0, 0, 0);
}
#bio {
  margin: 15px;
}
.line-styling {
  border: 1px dotted rgb( 41, 41, 41);
}
#top-logo {
  height: 15vh;
  margin: 30px 0 20px 0;
}
#github-logo {
  margin-bottom: 10px;
}
.current-bio {
  margin: 25px auto;
  position: relative;
}
#edit-icon {
  height: 2em;
  position: absolute;
  right: 0;
  z-index: 9999;
  margin-right: 30px;
  cursor: pointer;
}
#edit-icon:active {
  transform: translateY(1.5px);
}
.form-labels {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}
.form-inputs {
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid lightblue;
  font-size: 15px;
  padding: 8px;
}
.form-inputs:focus-visible {
  outline: none;
  box-shadow: 0 0 5px 1px rgb(1, 93, 179);
}
.formButtons {
  cursor: pointer;
  padding: 10px;
  color: white;
  margin: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: bold;
}
.formButtons:active {
  transform: translateY(1px);
}
#formSubmit {
  background-color: rgb(10, 159, 10);
}
#formCancel {
  background-color: rgb(191, 31, 31);
}