:root {
  --red: rgb(191, 31, 31);
  --green: rgb(10, 159, 10);
  --lightBlue: rgb(111, 202, 233);
  --lightBlueFocused: rgb(129, 194, 255);
  --black: rgb(92, 84, 84);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
  text-align: center;
  border: 3px solid var(--black);
  border-radius: 10px;
  width: 60%;
  margin: 15px auto auto auto;
  box-shadow: 0 1px 7px var(--black);
}
#bio {
  margin: 15px;
}
.line-styling {
  margin-top: 15px;
  border: 1px dotted var(--black);
}
#top-logo {
  height: 15vh;
  margin: 30px 0 20px 0;
}
#github-logo {
  margin-bottom: 10px;
}
header > h1 {
  color: var(--black);
  margin-top: 0;
}
.current-bio {
  margin: 25px auto;
  color: var(--black);
  position: relative;
}
.current-bio > h3 {
  color: var(--red);
}
.job-experience {
  margin: 25px auto;
  color: var(--black);
  position: relative;
}
.job-experience > h2 {
  margin-bottom: 0;
}
.job-experience > p {
  margin-top: 0;
}
.titleAndTenure {
  display: inline-flex;
  align-items: baseline;
}
#experience-title {
  color: var(--black);
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 5px var(--black);
  margin: -10px 0 0 20px;
  position: absolute;
}
#description {
  resize: vertical;
  max-height: 300px;
}
.descriptionDisplay {
  margin: auto;
  inline-size: 50%;
  max-height: 150px;
  overflow-y: auto;
  overflow-wrap: break-word;
}
#edit-icon {
  height: 2em;
  position: absolute;
  right: 0;
  z-index: 9999;
  margin-right: 30px;
  cursor: pointer;
}
#edit-icon:active {
  transform: translateY(1.5px);
}
.date-styling {
  color: var(--red);
  margin-left: 10px;
}
.position-title {
  display: inline-flex;
  align-items: baseline;
}
.position-title > div {
  margin: 10px;
}
.form-labels {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
}
.form-inputs {
  margin-bottom: 15px;
  border-radius: 5px;
  color: var(--black);
  border: 1px solid var(--lightBlue);
  font-size: 15px;
  padding: 8px;
}
.form-inputs:focus-visible {
  outline: none;
  box-shadow: 0 0 5px 1px var(--lightBlueFocused);
}
.formButtons {
  cursor: pointer;
  padding: 10px;
  color: white;
  margin: 8px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: bold;
}
.formButtons:active {
  transform: translateY(1px);
}
#formSubmit {
  background-color: var(--green);
}
#formCancel {
  background-color: var(--red);
}